<form [formGroup]="songForm" (ngSubmit)="onSubmit(songForm.value)">
    <h2 mat-dialog-title>Song FORM</h2>
    <mat-dialog-content class="mat-typography">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Video URL</mat-label>
                    <input matInput placeholder="Video URL" type="text" formControlName="videourl" required>
                  </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name of the song</mat-label>
                    <input matInput placeholder="Name" type="text" formControlName="name" required>
                  </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Artist</mat-label>
                    <input matInput placeholder="Artist" type="text" formControlName="artist" required>
                  </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre" required> 
                      <mat-option *ngFor="let genre of genres" [value]="genre">
                        {{genre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
    
    
    </mat-dialog-content>
    {{songForm.valid}}
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" cdkFocusInitial [disabled]="!songForm.valid">{{formAction}}</button>
    </mat-dialog-actions>
    
    </form>