<section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 banner-image">
          <img class="img-fluid" src="../assets/img/jimin.png">
        </div>
        <div class="col-lg-8 col-md-6 col-xs-12 site-title text-center">
          <h1 class="text-banner text-uppercase">Welcome to K-MUSIC </h1>
          <h3>Discover all the types of south korean music</h3>
          <img class="img-fluid" src="https://media2.giphy.com/media/xX9GxcA4CJS69qNDpK/giphy.gif"/>
        </div>
      </div>
    </div>
  </section>


  <section class="genres">

    <h3 class="text-center">Discover the different genres of K-MUSIC</h3>
    <div class="container">

      <div class="row equal-cols">

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="genre">
          <h4 class="text-uppercase">k-pop</h4>
          <img class="img-fluid py-4" src="https://data.whicdn.com/images/297586814/original.gif"/>
          <p><strong>K-pop</strong> is a genre of popular music originating in South Korea. It is influenced by styles and genres from around the world, such as Pop, experimental, rock, jazz, gospel, hip hop, R&B, reggae, electronic dance, folk, country, and classical on top of its traditional Korean music roots.</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="genre">
            <h4 class="text-uppercase">k-hip hop</h4>
            <img class="img-fluid py-4" src="https://pa1.narvii.com/6777/1975a4b008653f1d808f362c7d171f55741f346f_hq.gif"/>            
            <p>Korean hip hop, also known as <strong>K-hip hop</strong>, is a subgenre of korean popular music. Korean hip hop is distinguished from American hip hop by not only sound and language, but also by the culture from which the music is made.</p>
            </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="genre">
          <h4 class="text-uppercase">Korean ballad</h4>
          <img class="img-fluid py-4" src="https://media1.tenor.com/images/845dd31758f381a139d06b9d09128bce/tenor.gif?itemid=5066705"/>
           <p><strong>Korean ballad</strong>, also known as K-ballad, is a style of music in South Korea. It became popular in the 1980s, and has influenced and evolved into many different music styles. It has roots in blues music.</p>
          </div>
    </div>
    
      </div>

      <div class="row equal-cols">
        <div class="col-lg-6 col-xs-12">
          <div class="genre">
            <h4 class="text-uppercase">Sinawi</h4>
            <img class="img-fluid py-4" src="https://pa1.narvii.com/6835/2bd5c21e745f3bf4647a02c3c9c07f02b3e01b5f_hq.gif"/>
            <p><strong>Sinawi</strong>, sometimes spelled shinawi, is a traditional Korean music. It is performed improvisationally by a musical ensemble, and traditionally accompanies the rites of Korean shamanism. The style first emerged in the Chungcheong and Jeolla provinces, but is now widespread.</p>
            </div>
            </div>

            <div class="col-lg-6 col-xs-12">
              <div class="genre">
                <h4 class="text-uppercase">Korean rock</h4>
                <img class="img-fluid py-4" src="https://i.pinimg.com/originals/f1/1d/48/f11d48291fe5cd93fd74d70200dd90a4.gif"/>
                <p><strong>Korean rock</strong>, sometimes known as K-rock, is a subgenre of Korean popular music, focused in rock music from South Korea. It has roots in American rock, which was imported to South Korea by U.S. soldiers fighting in the Korean War and stationing in U.S. military bases in South Korea after the war.</p>
            </div>
            </div>     
      
        </div>
    </div>
  </section>