/*banner section*/
.banner{
    background-image: linear-gradient(to bottom, #a67db8, #d993ad, #f0b6ac, #f7dcc2);
    padding: 0 5rem;
}
.banner img{
    width: 550px;
}
.banner .site-title{
    color: #ffffea;
    letter-spacing: 8px;
    padding-top: 8rem;
}
.banner .site-title img{
    width: 100px;
}



/*genres section*/
.genres{
    padding: 6rem;
    text-align: center;
    background-color: #f7dcc2;
}
.genres .genre{
    background-color: #d993ad;
    margin: 3rem 2rem;
    padding: 1rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.30), 0 10px 20px 0 rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    transition: transform 0.5s;
    transition: 0.3s;
}
.genres .genre p{
    line-height: 30px;
}
.genres .genre:hover{
    background-color: #c09ba9;
    transform: scale(1.1);    
}
.genres img{
    width: 200px;
    height: 200px; 
    object-fit: cover;
    filter: grayscale(50%);
    border-radius: 5%;
}


/*mine section*/
.mine{
    padding: 5rem;
    text-align: center;
    background-color: #f7dcc2;
}
.mine audio{
    text-align: center;
}

  /*equal rows*/
  .row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }



  @media only screen and (max-width: 425px){
    
    .genres, .banner,.mine{
        padding: 1rem;
        
    }
    .banner .site-title{
            padding-top: 1rem;
            
        }
}