<section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 banner-image">
          <img class="img-fluid" src="../assets/img/jimin.png">
        </div>
        <div class="col-lg-8 col-md-6 col-xs-12 site-title text-center">
          <h1 class="text-banner text-uppercase">Welcome to K-MUSIC </h1>
          <h3>Discover all the types of south korean music</h3>
          <iframe src="https://giphy.com/embed/ZZ4IAb9mprKPnfxor3" frameBorder="0"></iframe>
        </div>
      </div>
    </div>
  </section>