html{
    scroll-behavior: smooth;
}
body{
    background-color: #a67db8;
}

/*banner section*/
.banner{
    background-image: linear-gradient(to bottom, #a67db8, #d993ad, #f0b6ac, #f7dcc2);
    padding: 0 5rem;
}
.banner img{
    width: 550px;
}
.banner .site-title{
    color: #ffffea;
    letter-spacing: 8px;
    padding-top: 8rem;
}
.banner .site-title img{
    width: 100px;
}



/*genres section*/
.genres{
    padding: 2rem;
}
.genres .genre{
    background-color: #d993ad;
    margin: 0.5rem 0;
}


  /*equal rows*/
  .row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }