.songs{
    padding: 6rem;
    background-image: linear-gradient(to bottom, #a67db8, #d993ad, #f0b6ac, #f7dcc2);
}
.songs #add{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 20px;
    background-color: #d993ad;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.30), 0 10px 20px 0 rgba(0, 0, 0, 0.30);
}
table tr{
    transition: transform 0.5s;
    transition: 0.3s;
}
table tr:hover{
    background-color: #c09ba9;
    transform: scale(1.01);
}


@media only screen and (max-width: 425px){
    
    .songs{
        padding: 1rem;
        
    }
}