.songs{
    text-align: center;
    padding: 0 6rem;
}
.songs .song{
    background-color: #d993ad;
    margin: 3rem 2rem;
    padding: 1rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.30), 0 10px 20px 0 rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    transition: transform 0.5s;
    transition: 0.3s;
}
.songs .song:hover{
    background-color: #c09ba9;
    transform: scale(1.1);    
}