{{ songs$ | async | json }}

<section class="songs">
<div *ngFor="let song of songs$ | async">

    <!--<iframe width="560" height="315" [src]="'https://www.youtube.com/embed/ + {{youtube_parser(song.videourl | safe)}}'" allowfullscreen></iframe>-->
    
          <div class="song">
          <span class="text-uppercase">{{song.name}}</span>
          <span>{{song.artist}}</span>
              <button
              mat-icon-button
              (click)="openDialog(true, student)"><mat-icon>edit</mat-icon></button>
          </div>
  

  

  </div>
</section>

<button mat-fab color="warn" (click)="openDialog(false, undefined)">
    <mat-icon>add</mat-icon>
  </button>